nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    padding: 2rem;
    background-color:#3E7CB1
}


h1{
    text-align: center;
}
body{
    margin:0;
    background-color: #f2f2f2
    
}



p{
    margin: 4rem;
}
ul{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    list-style-type: none;
    border-bottom: 2px solid #3E7CB1
}

li {
    font-weight: bold;
    color: white;
}

.main-wrapper {
    display:flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: center;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.text-boxes {
    border: 2px solid #39006c;
    padding: 2rem;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
}

footer {
    display:flex;
    margin-top: 2rem;
    background-color: #3E7CB1;
    color:white;
    font-weight:bold;
    justify-content: center;
}


@media (max-width: 426px) {
    header {
      padding: 1rem;
    }
    .main-wrapper {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin:auto;
      
    }
    .text-boxes {
        margin-bottom: 2rem;
    }
  
    p {
      margin: 1rem;
    }
  }