h1 {
    color: black;
    font-size: 44px;
    margin-left: 5px;
}

h3 {
    color: #82746c;
    font-size: 26px;
}

.redFont {
    color: #6a1211;
    font-style: italic;
    font-size: 16px;
}

.wrapper {
    padding-left: 10px;
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.border-margin {
    margin-top: 40px;
    width: 90%;
}
.border {
    padding: 25px;
    font-size: 18px;

    border: 1px, solid, #ececec;
}

.red-font-wrapper {
    width: 80%;
}