.wrapper {
  margin-left:auto;
  margin-right:auto;
	width:90%;
  border: 2px solid black;
  padding: 1rem 2rem;
}

body {
	background-color: #BEBEBE;
	max-width: 1200px;
  margin-left:auto;
  margin-right:auto;
}

h1 {
  font-size: .75rem;
}
h2 {
  font-size: 1.5rem;
  padding-left: .25rem;
  
}
.p-padding {
  padding-top: .5rem;
}
ul {
  padding-top: .5rem;
  color:red;
}

@media (max-width: 426px) {
    .wrapper {
      padding: 0px;
    }
  }